.html-preview ul {
  @apply my-2 list-inside list-disc pl-4;
}

.html-preview ol {
  @apply my-2 list-inside list-decimal pl-4;
}

.html-preview li {
  @apply mb-1;
}

/* NOTE: temp solution */
.ContentEditable__root ul {
  list-style: disc;
}
.ContentEditable__root ol {
  list-style: disc;
}
.ContentEditable__root table td {
  border-color: var(--color-border);
}

.markdown table {
  @apply !w-full;
  @apply !table-fixed;
  @apply !border-collapse;
}

.markdown td {
  @apply !wrap-break-word;
  @apply !p-2;
  @apply !align-top;
}

.markdown img {
  @apply !max-w-["100%"];
  @apply !h-auto;
  @apply !block;
}
